In [2]:
import csv
import json
import pandas as pd
import gzip

In [4]:
df = pd.read_csv('bom.movie_gross.csv.gz',sep=',')

df.head(3387)

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [4]:
movie_data = pd.read_csv('bom.movie_gross.csv.gz')

domestic_profits = movie_data["domestic_gross"]
domestic_profits.head()


#print(movie_data.columns)

0    415000000.0
1    334200000.0
2    296000000.0
3    292600000.0
4    238700000.0
Name: domestic_gross, dtype: float64

In [6]:
df_dp = df['domestic_gross'].fillna(0).astype(int)
df_dp

0       415000000
1       334200000
2       296000000
3       292600000
4       238700000
          ...
3382         6200
3383         4800
3384         2500
3385         2400
3386         1700
Name: domestic_gross, Length: 3387, dtype: int32

In [25]:
df_fp = df['foreign_gross'].fillna(0).astype(object)
#type(df_fp)

ast_df = df_fp.astype(str, int) 
ast_df


#foreign_nums = []
#for foreign_gross in index:
#    if foreign_gross != '0':
#        foreign_nums.append(True)

#print(df_fp.dtypes)
#movie_data.groupby(['domestic_gross'], ['foreign_gross']).count()
#gross_profits

0       652000000
1       691300000
2       664300000
3       535700000
4       513900000
          ...
3382            0
3383            0
3384            0
3385            0
3386            0
Name: foreign_gross, Length: 3387, dtype: object